<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">CSV Data</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<form>
			<div class="form-group">
				<label for="raw_csv">Raw CSV Data</label>
				<textarea id="raw_csv" class="form-control" ng-model="raw_csv"></textarea>
			</div>
		</form>
		<form class="form-inline">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="delimiter" value=",">
				<input class="form-control" type="text" ng-model="separator" value="\n">
				<button class="btn btn-primary" ng-click="parse()">Parse CSV</button>
			</div>
		</form>
		<hr>
		<form>
			<div class="form-group">
				<label for="result">Result</label>
				<pre id="result">{{result}}</pre>
				<pre id="result">{{columns}}</pre>
				<pre id="result">{{cols_types}}</pre>
				<table>
					<thead>
						<tr>
							<td ng-repeat="col in result[0] track by $index">
								<select class="form-control" ng-model="columns[$index].selected">
									<option ng-repeat="(normalized, field) in cols_types" value='{{normalized}}'>{{field}}</option>
									<option value='_dismiss'>==Dismiss==</option>
								</select>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in result">
							<td ng-repeat="col in row">{{col}}</td>
						</tr>
					</tbody>
					<tfooter>
						<tr>
							<td ng-repeat="col in result[0]">

							</td>
						</tr>
					</tfooter>
				</table>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>