<div>
<div class="row" style="margin-bottom: 3em">	
	<div class="col-md-6">
		<div class="row">
			<div class="col-sm-2">Import Protocol {{journalType}}</div>
			<div class="col-sm-10">
				<select class="form-control" ng-model="journals.chosen">
					<option ng-repeat="(id, title) in journals.types" value='{{id}}'>{{title}}</option>
				</select>
			</div>
		</div>
	</div>	
	
	<div class="col-md-6">
		<div class="row">
			<div class="col-sm-2">Path to PDF</div>
			<div class="col-sm-10">
				<input class="form-control" type='text' name='import-pdf-path' id='import-pdf-path' ng-model='journal.importFilePath'>
			</div>
		</div>
	</div>
	
</div>



<div class="row">	
	<div class="col-md-8">
		<div ng-show="sec.response" class="alert alert-danger">{{sec.response}}</div>
	</div>
	<div class="col-md-4 text-right">
		<form action="" class="form-inline" onsubmit="return false">
    		<div class="form-group">
				<span class="input-group">
					<input type="password" class="form-control" ng-model='sec.password' placeholder="password">
					<span class="input-group-btn">
						<button class='btn btn-primary' ng-click='checkPw()'>Start Import<span class="glyphicon glyphicon-chevron-right"></span></button>
					</span>
					
				</span>
			</div>
		</form>
	</div>
</div>


</div>