<div>

<div class="row toprow">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Import Protocol {{journalType}}</div>
			<div class="panel-body">
				<select class="form-control" ng-model="journals.chosen">
					<option ng-repeat="(id, title) in journals.types" value='{{id}}'>{{title}}</option>
				</select>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Select PDF file from upload Folder</div>
			<div class="panel-body">
				<select class="form-control" ng-model="journal.importFilePath">
					<option ng-repeat="file in repositoryFiles track by $index" value='{{file.path}}'>{{file.caption}}</option>
				</select>
			</div>
			
			
		</div>
		
		
		
		<div 	class="panel panel-default" 
				ng-controller="upload" 	           		
				ngf-drop="uploadFiles($files)"
	       		ng-model="files" 
	       		ngf-model-invalid="invalidFiles"
	            ngf-multiple="multiple" 
	            ngf-pattern="pattern" 
	            ngf-accept="application/pdf"
	            ngf-drag-over-class="'dragOver'"
	            ngf-validate="{pattern: '.pdf'}"
	            ngf-keep="false"
	            ngf-allow-dir="false" 
	           	ngf-drop-available="dropAvailable"
	            id="fileDropArea">
			<div class="panel-heading">Or upload PDF file</div>		
			<div class="panel-body">
			    <button class="btn btn-sm" ngf-select="uploadFiles($files)" multiple accept="application/pdf">Select files to upload from your hard disk</button><span ng-show="dropAvailable"> or just drop a File into this Box.</span> 
			    <br>
			    
			    <span class="progressbar">
			        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
			    </span>
			    
			    <br><span  ng-show="uploadedFiles.length > 0">Files:</span>
			    <ul>
			        <li ng-repeat="f in uploadedFiles track by $index">{{f}}</li>
			    </ul>
				<div ng-show="errorMsg" class="alert alert-danger" ng-bind-html="errorMsg | trustHtml"></div>
				<div ng-show="warningsMsg.length >  0" ng-repeat="warning in warningsMsg track by $index" class="alert alert-warning">{{warning}}</div>
				<div ng-show="invalidFiles" class="alert alert-warning">Wrong File</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 ">

	
	
		<div class="panel panel-default">
			<div class="panel-heading">Start Process</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<input type="password" class="form-control" ng-model='sec.password' placeholder="password">	
					</div>	
					
					<div class="col-md-6 text-right">
						<button class='btn btn-danger' ng-show="sessionLocked" ng-click='resetSession()'>Reset System</button>
						<button class='btn btn-primary' ng-click='checkPw()' ng-show="!sessionLocked">Start Import<span class="glyphicon glyphicon-chevron-right"></span></button>	
					</div>			
				</div>
				<div class="row">
					<div class="col-md-12">
						<br>
						<div ng-show="sec.response" class="alert alert-danger">{{sec.response}}</div>
					</div>
				</div>			
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Journal Metadata</div>
			<div class="panel-body">
				<table class='journal-table table'>
		
					<tbody>
						<thead></thead>				
							<tr ng-repeat="(field, value) in journal track by $index">
								<td ng-show="{{isObject(value)}}">{{field}}</td>
								<td ng-show="{{isObject(value)}}" ng-model="journal[field]">
									<span editable item="value" />
								</td>
							</tr>
					</tbody>
					<tfoot></tfoot>
				</table>
			</div>
		</div>
		
		
		
		 
		<div class="panel panel-default">
			<div class="panel-heading">TEST</div>
			<div class="panel-body">
				<span editable item="teest" caption="autopublish" />
			</div>
		</div>
		
	</div>
</div>



</div>