<div id="info-container" ng-controller="message" ng-mouseover="toggleInfoBox(1)" ng-mouseout="toggleInfoBox(0)"  ng-show="hasContent()">
	<pre ng-hide="1">{{message}}</pre>
	<div class="row">
		<div class="col-md-3">
			<div ng-repeat="(key, stat) in message.stats" ng-show="key.substr(0,1) != '_'" class="stat">
				{{key}}<span class="badge badge-pill badge-default pull-right" ng-class="{'alert-success': message.stats._isOk(key, stat) == 1, 'alert-danger': message.stats._isOk(key, stat) == -1}">{{stat}}</span>
			</div>
		</div>
		<div class="col-md-9" ng-class="{'closed':!infoBoxOpen}">
			<div class="alert" ng-class="{'alert': message.message, 'alert-success': message.success, 'alert-danger': !message.success}">{{message.message}}<span ng-show="message.warnings.length + message.debug.length" class="badge badge-pill badge-default pull-right">{{message.warnings.length + message.debug.length}}</span></div>
			<div class="alert alert-warning" ng-repeat="warning in message.warnings track by $index" ng-show="infoBoxOpen">{{warning}}</div>
			<div class="alert alert-info" 	 ng-repeat="debug in message.debug track by $index" ng-show="infoBoxOpen">({{debug}})</div>
		</div>
	</div>
</div>