<div class="lang-selector">
	<input type="radio" class='lang' ng-model='item.value.value' value='de' id='{{id}}_1'><label for="{{id}}_1">de</label>
	<input type="radio" class='lang' ng-model='item.value.value' value='en' id='{{id}}_2'><label for="{{id}}_2">en</label>
	<input type="radio" class='lang' ng-model='item.value.value' value='fr' id='{{id}}_3'><label for="{{id}}_3">fr</label>
	<input type="radio" class='lang' ng-model='item.value.value' value='it' id='{{id}}_4'><label for="{{id}}_4">it</label>
	<input type="radio" class='lang' ng-model='item.value.value' value='es' id='{{id}}_5'><label for="{{id}}_5">es</label>
	<input type='text'  class='lang' ng-model='item.value.value'>
	<div ng-show="(warning = item.check()) && (warning !== false)" class='alert alert-warning' style='display:inline-block; padding-top: 0px; padding-bottom: 0px; margin: 0px;'>{{warning}}</div>
</div>