<!-- chiron specific template -->

<div ng-controller="view_overview" data-ng-init="init()">


	

<div class="row">
	<div class="col-md-8">
		<div class="alert alert-info">Protocol: <strong>{{protocol.id}}</strong></div>
		<div></div>
	</div>

	<div class="col-md-2">
		<div class="btn-group">
			<multiselect elements="columns">Display Columns</multiselect>
			<span class="dropdown" uib-dropdown>
				<button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Order By<span class="caret"></span></button>
				<ul class="dropdown-menu" uib-dropdown-menu>
					<li><a ng-click="updateOrder('filename', true)" href="#">filename</a></li>
					<li><a ng-click="updateOrder('author', true)" href="#">author</a></li>
					<li><a ng-click="updateOrder('title', true)" href="#">title</a></li>
					<li><a ng-click="updateOrder('page', true)" href="#">page</a></li>
					<li><a ng-click="updateOrder('filename', false)" href="#">filename desc</a></li>
					<li><a ng-click="updateOrder('author', false)" href="#">author desc</a></li>
					<li><a ng-click="updateOrder('title', false)" href="#">title desc</a></li>
					<li><a ng-click="updateOrder('page', false)" href="#">page desc</a></li>
					<li><a ng-click="updateOrder('order', true)" href="#">custom (#)</a></li>
				</ul>
			</span>
		</div>
	</div>

	<div class="col-md-2 text-right">
		<button class='btn btn-primary' ng-click='continue()'>Proceed<span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
</div>







<div class="row">	
	<div class="col-md-12" style="overflow-x:scroll">

		<table class='split-table editable-table super-table'>
			<thead>
				<tr>
					<td ng-repeat="column in columns" ng-show="column.checked" ng-style="column.style" data-tooltip="column.tooltip">{{column.title}}</td>
					<td>Preview</td>
					<td></td>
				</tr> 
			</thead>
			<tbody>
				<tr ng-repeat="article in rawArticles  | orderBy:'article.order.value.value'">
					<td ng-repeat="(name, column) in columns" ng-show="column.checked">
						<span editable item="article[name]" />
					</td>
					<td style="width:600px">
						<div id="thumbnail-container-{{article._.id}}" class="thumbnail-container" ng-class="{'enlarged': article._.id==master.selectedThumb}" ng-click="master.selectThumb(article._.id)">
							<img ng-show="thumbnails[article._.id] != ''" data-ng-src="{{thumbnails[article._.id]}}" />
						</div>
					</td>
					<td>
						<span class="btn btn-default btn-xs" ng-show="$index>0" ng-click="updateOrder('up', true, article)" data-tooltip="move above"><span class="glyphicon glyphicon-triangle-top"></span></span>
					
						<span class="btn btn-default btn-xs" ng-click="removeArticle(article)" data-tooltip="delete article"><span class="glyphicon glyphicon-minus-sign"></span></span>
						<span class="btn btn-default btn-xs" ng-click="openDocument(article.url)" data-tooltip="open file externally"><span class="glyphicon glyphicon-eye-open"></span></span>
						
						<span class="btn btn-xs" ng-class="{'btn-default': (!selectedToMerge), 'btn-danger': (selectedToMerge)}" ng-click="mergeArticle(article)" data-tooltip="merge articles"><span class="glyphicon glyphicon-compressed"></span></span>
						
						<!-- <span class="btn btn-default btn-xs" ng-repeat="button in master.article_buttons" ng-click="button.function(article)" data-tooltip="{{button.tooltip}}">{{button.caption}}<span class="glyphicon {{button.glyphicon}}"></span></span> -->
						
						<span class="btn btn-default btn-xs" ng-show="$index<rawArticles.length-1" ng-click="updateOrder('down', true, article)" data-tooltip="move down"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


</div>
