<!-- chiron specific template -->

<div ng-controller="view_overview" data-ng-init="init()" style="min-height: 400px;">


	

<div class="row">
	<div class="col-md-8">
		<div class="btn-group">
			<multiselect elements="journal.settings.overviewColumns">Display Columns</multiselect>
			<span class="dropdown" uib-dropdown>
				<button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Order By<span class="caret"></span></button>
				<ul class="dropdown-menu" uib-dropdown-menu>
					<li><a ng-click="updateOrder('filename', true)" href="#">filename</a></li>
					<li><a ng-click="updateOrder('author', true)" href="#">author</a></li>
					<li><a ng-click="updateOrder('title', true)" href="#">title</a></li>
					<li><a ng-click="updateOrder('page', true)" href="#">page</a></li>
					<li><a ng-click="updateOrder('filename', false)" href="#">filename desc</a></li>
					<li><a ng-click="updateOrder('author', false)" href="#">author desc</a></li>
					<li><a ng-click="updateOrder('title', false)" href="#">title desc</a></li>
					<li><a ng-click="updateOrder('page', false)" href="#">page desc</a></li>
					<li><a ng-click="updateOrder('order', true)" href="#">custom (#)</a></li>
				</ul>
			</span>
		</div>
		<span class="btn-group">
		    <button class='btn btn-default' ng-click='addArticle()'>Add Article<span class="glyphicon glyphicon-plus-sign"></span></button>
		</span>
	</div>

	<div class="col-md-4 text-right">
		<button class='btn btn-primary' ng-click='continue()' ng-show="protocol.ready">
			Proceed<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>
</div>


<div class="row">	
	<div class="col-md-12" style="overflow-x:scroll">

		<table class='split-table editable-table super-table'>
			<thead>
				<tr>
					<td>Preview</td>
					<td
						ng-repeat="(name, column) in journal.settings.overviewColumns"
						ng-show="column.checked"
						ng-style="getStyle(name)"
						data-tooltip="{{journal.articleDescriptions[name].description}}"
					>{{journal.articleDescriptions[name].title}}</td>

					<td></td>
				</tr> 
			</thead>
			<tbody>
				<tr ng-repeat="article in journal.articles | orderBy:'article.order.value.value'" ng-show="article._.confirmed !== false" ng-class="{'row-confirmed': article._.confirmed === true}">
					<td style="width:600px">

						<div ng-show="!article.pages.check() && (article.filepath.value.value != 'none')">
							<div class="thumbnail-refresh" ng-show="article.pages.check() == false">
								<button class='btn btn-default' ng-click="updateThumbnail(article)">Reload thumbnail<span class="glyphicon glyphicon-refresh"></span></button>
							</div>
							<div id="thumbnail-container-{{article._.id}}" class="thumbnail-container" ng-class="{'enlarged': article._.id==selectedThumb}" ng-click="selectThumb(article._.id)">
								<img data-ng-src="{{!angular.isUndefined(journal.thumbnails[article._.id]) ? journal.thumbnails[article._.id] : ''}}" />
							</div>
						</div>
						<div ng-show="article.pages.check() || (article.filepath.value.value == 'none')">
							<div class="alert alert-warning">You have to provide a pagenumber and a loaded file to get a preview.</div>
						</div>
					</td>
					<td ng-repeat="(name, column) in journal.settings.overviewColumns" ng-show="column.checked">
						<span editable item="article[name]"></span>

					</td>
					<td>
						<span class="btn btn-default btn-xs" ng-show="$index>0" ng-click="updateOrder('up', true, article)" data-tooltip="move above"><span class="glyphicon glyphicon-triangle-top"></span></span>
					
						<span class="btn btn-default btn-xs" ng-click="removeArticle(article)" data-tooltip="delete article"><span class="glyphicon glyphicon-minus-sign"></span></span>
						<span class="btn btn-default btn-xs" ng-click="openDocument(article)" data-tooltip="open file externally"><span class="glyphicon glyphicon-eye-open"></span></span>
						
						<span class="btn btn-xs" ng-class="{'btn-default': (!selectedToMerge), 'btn-danger': (selectedToMerge)}" ng-click="mergeArticle(article)" data-tooltip="merge articles"><span class="glyphicon glyphicon-compressed"></span></span>
						
						<!-- <span class="btn btn-default btn-xs" ng-repeat="button in master.article_buttons" ng-click="button.function(article)" data-tooltip="{{button.tooltip}}">{{button.caption}}<span class="glyphicon {{button.glyphicon}}"></span></span> -->
						
						<span class="btn btn-default btn-xs" ng-show="$index<journal.articles.length-1" ng-click="updateOrder('down', true, article)" data-tooltip="move down"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
						
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

</div>
