<!-- chiron specific template -->

<div ng-controller="view_articles" data-ng-init="init()">

<div class="row toprow">
	<div class="col-md-8">
		<div class="btn-group" uib-dropdown>
			<button uib-dropdown-toggle class="btn btn-default">Select Article ({{journal.articleStats.data.undecided}} remaining)<span class="caret"></span></button>
			<ul uib-dropdown-menu>
    			<li ng-repeat="article in journal.articles track by $index">
					<a href='#'
					   ng-class="{'btn-primary': $index == currentArticle, 'btn-success': article._.confirmed === true, 'btn-danger': article._.confirmed === false}"
					   ng-click="selectArticle($index)">{{article.author.value[0].lastname}} - {{article.title.get()}}</a>
				</li>
    		</ul>
		</div>
		<span class="btn-group">
		    <button class='btn btn-default' ng-click='addArticle()'>Add Article<span class="glyphicon glyphicon-plus-sign"></span></button>
		</span>

	</div>
	<div class="col-md-4 text-right">
		<span class="btn-group">
			<button
					ng-if="isArticleSelected()"
					ng-click='dismissArticle()'
					class='btn'
					ng-class="{'btn-danger':(journal.articles[currentArticle]._.confirmed !== true)  && (journal.articles[currentArticle]._.confirmed !== false)}"
					ng-disabled="journal.articles[currentArticle]._.confirmed === false"
			>{{journal.articles[currentArticle]._.confirmed === false ? "Dismissed" : "Dismiss"}}<span class="glyphicon glyphicon-remove"></span></button>
			<button
					ng-if="isArticleSelected() && checkArticle()"
					ng-click='confirmArticle()'
					class='btn'
					ng-class="{'btn-success':(journal.articles[currentArticle]._.confirmed !== true)  && (journal.articles[currentArticle]._.confirmed !== false)}"
					ng-disabled="journal.articles[currentArticle]._.confirmed === true"
			>{{journal.articles[currentArticle]._.confirmed === true ? "Confirmed" : "Confirm"}}<span class="glyphicon glyphicon-chevron-right"></span></button>
			<button
					id = "upload"
					ng-if="journal.articleStats.data.undecided == 0"
					class='btn btn-primary'
					ng-click='continue()'>Upload<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</span>
	</div>
</div>


<div class="row">

	<div class="col-lg-6">
		<div class="panel panel-default"
			 ng-class="{'panel-success':(journal.articles[currentArticle]._.confirmed === true),'panel-danger':(journal.articles[currentArticle]._.confirmed === false)}"
			 ng-show="(currentArticle > -1) && (journal.articles.length > 0)">
			<div class="panel-heading">Article</div>

			<table class='table article-table'>
				<thead></thead>
				<tbody>
					<tr ng-if="currentArticle > -1" ng-repeat="(property, item) in journal.articles[currentArticle] track by $index">
						<td>{{journal.articleDescriptions[property].description || journal.articleDescriptions[property].title}}</td>
						<td><span editable item="journal.articles[currentArticle][property]" /></td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>

		<div class="panel panel-default" ng-show="journal.thumbnails[journal.articles[currentArticle]._.id]">
			<div class="panel-heading">First Page</div>
			<div class="panel-body">
				<div class="thumbnail-container">
					<img data-ng-src='{{journal.thumbnails[journal.articles[currentArticle]._.id]}}'>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">

		<div ng-show="(currentArticle > -1) && (journal.articles.length > 0)" class="panel panel-default">
			<div class="panel-heading" ng-show="!zenon.searchId">Search results in Zenon for Article Title "{{journal.articles[currentArticle].title.get()}}"</div>
			<div class="panel-heading" ng-show="zenon.searchId">Search results in Zenon for ID "{{journal.articles[currentArticle].zenonId.value.value}}"</div>

			<div class="panel-body">

				<p ng-if='(zenon.selected < 0) && (journal.articles[currentArticle].zenonId != "(((new)))")' class='alert alert alert-warning'  data-tooltip="Click in the results table to select one. Change title an hit new search for if there are no results.">No corresponding entry in in Zenon selected!</p>

				<span class="btn-group">
					<button ng-if="isArticleSelected()" class='btn btn-default' ng-click='compareWithZenon()'>New Search<span class="glyphicon glyphicon-search"></span></button>
					<button ng-if="isArticleSelected() && (zenon.selected > -1)" class='btn btn-default' ng-click='adoptFromZenon()' data-tooltip="Continue with the data from Zenon instead of the one you got from the investigation of the table of contents">Take Zenon Data<span class="glyphicon glyphicon-import"></span></button>
					<button ng-if="isArticleSelected() && (zenon.selected == -1)" ng-click='markAsMissingZenon()' ng-class="['btn', 'btn-default', {'active': (journal.articles[currentArticle].zenonId == '(((new)))')}]">Mark as missing in Zenon  <span class="glyphicon glyphicon-flag"></span></button>
				</span>


				<div style="overflow-x:auto; padding-left: 1px;">
					<table class="table select-table">
						<thead>
							<tr>
								<td ng-repeat="(field, value) in zenon.results[0]" ng-show="field != 'id'">{{field}}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="doc in zenon.results track by $index" ng-click='selectFromZenon($index)' ng-class="{'active': (zenon.selected == $index)}">
								<td ng-repeat="(field, value) in doc" ng-show="field != 'id'" >{{value}}</td>
								<!-- <td>
									<span class='btn btn-default btn-xs' ng-class="{'btn-primary': ($index == zenon.selected)}" ng-click='selectFromZenon($index)'>
										<span class='glyphicon glyphicon-ok-sign'></span>
									</span>
								</td> -->
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
									<p ng-show="zenon.results.length > 0">{{zenon.results.length}} of {{zenon.found}} results</p>
								</td>
							</tr>
							<tr ng-show="zenon.start < zenon.found">
								<td colspan="7">
									<span class='btn btn-default btn-xs' ng-click='compareWithZenon(true)' data-tooltip='more results'><span class='glyphicon glyphicon-plus-sign'></span></span>
								</td>
								<td>&nbsp;</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>


</div>







</div>
