<div>

<div class="row toprow" >
	<div class="col-md-8" ng-show="isReady()">
		<span class="btn-group">
			<button class='btn btn-default' ng-click='renderXml()'>Preview transport XML<span class="glyphicon glyphicon-view"></span></button>
		</span>
	</div>
	<div class="col-md-4 text-right" ng-show="isReady()">
		<span class="btn-group">
			<button class='btn btn-primary' ng-click='uploadToOjs()'>Upload<span class="glyphicon glyphicon-chevron-right"></span></button>
		</span>
	</div>
</div>

<div class="row">	

	<div class="col-lg-6">
	
		<div class="panel panel-default">
			<div class="panel-heading">Journal Metadata</div>
	
			<table class='journal-table table'>
	
				<tbody>
					<thead></thead>
					<tr ng-repeat="(field, value) in journal track by $index">
						<td>{{field}}</td>
						<td ng-model="journal[field]">
							<span editable item="value" />
						</td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
				
		
	</div>
	
	<div class="col-lg-6">
		<div class="panel panel-default" ng-show="!done">
			<div class="panel-heading">Import into OJS</div>
			<div class="panel-body">
				<h2></h2>	
				<p>Status:</p>
				<ul>
					<li>Journal metadata: <span ng-show="journalCheck()">OK</span></li>
					<li>Articles confirmed: {{articlesConfirmed.length}} of {{articlesConfirmed.length  + articles.length}}</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-default" ng-show="done">
			<div class="panel-heading">Reports to zenon</div>
			<div class="panel-body">
				<p>The following articles where reported to Zenon</p>
				<ul>
					<li ng-repeat="(id, article) in reportedToZenon">{{article.title.value.value}}</li>
				</ul>
				<p>See reports <a href='{{getReportUrl()}}' target='_blank'>here</a>. (UploadId: {{getUploadId()}})</p>
			</div>
		</div>

	</div>
	
</div>

</div>