<!-- chiron specific template -->

<div ng-controller="pdf">

<div class="row">
	<div class="col-md-6">
		<div class="alert alert-info" ng-show="master.checkState()">Step {{master.state}}: {{master.states[master.state]}}</div>
		<div class="alert" ng-class="{'alert-danger': statusError, 'alert-info': !statusError}" style="padding: 10px;">{{status}}</div>
	</div>
	<div class="col-md-6">

		<table class='status-table data-table'>
			<thead>
				
			</thead>
			<tbody>
				<tr><td>Source file</td><td>{{master.PDF.documentPath}}</td></tr>
				<tr><td>Pages</td><td>{{master.totalPages}}</td></tr>
				<tr><td>Table of Content Pages</td><td>Found: {{master.foundToc}} / Analyzed: {{master.analyzedToc}}</td></tr>
				<tr><td>Articles / Thumbnails</td><td>{{master.foundArticles}} / {{master.createdThumbnails}}</td></tr>	
				<tr><td>Published Date</td><td><span editable item="master.dateForAll"></td></tr>
			</tbody>	
		</table>
	</div>

</div>

<hr>

<div class="row">	
	<div class="col-md-12">

		<table class='split-table editable-table'>
			<thead>
				<tr>
					<!-- <td>row</td> -->
					<td>Author</td>
					<td>Title</td>
					<td>Page</td>
					<td>Preview</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(id, article) in master.articles track by $index">
					<td style="width:25%"><span editable item="article.author"></span></td>
					<td><span editable item="article.title"></span></td>
					<td style="width:10%"><span editable item="article.page"></span></td>
					<td style="width:600px">
						<div class="thumbnail-refresh" ng-show="master.articles[id].page.check() == false">
							<button class='btn btn-default' ng-click="master.refreshThumb(id)">Reload thumbnail<span class="glyphicon glyphicon-refresh"></span></button>
						</div>
						<div id="thumbnail-container-{{id}}" class="thumbnail-container" ng-class="{'enlarged': id==master.selectedThumb}" ng-click="master.selectThumb(id)">
							<img ng-show="article.thumbnail != ''" data-ng-src="{{article.thumbnail}}" />
						</div>
					</td>
					<td>
						<span class="btn btn-default btn-xs" ng-click="master.removeArticle(id)" data-tooltip="delete article"><span class="glyphicon glyphicon-minus-sign"></span></span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<div ng-show="master.isReady" class="row">
	<div class="col-md-8">
	<form action="" class="form-inline" onsubmit="return false">
	    <div class="form-group">
			<span class="input-group">
				<span class="input-group-btn">
					<button class='btn btn-default' ng-click='master.changeOffset()' data-tooltip='The Offset is the difference between the printed page number and the absolute page number in the PDF file.'>Change offset to </button>
				</span>
				<input class="form-control" ng-model="master.offset" style="width:3em">
			</span>
		</div>
		<div class="form-group">
			<span class="btn-group">
				<button class='btn btn-default' ng-click='master.addArticle()'>Add Article<span class="glyphicon glyphicon-plus-sign"></span></button>
			</span>
		</div>
	</form>
	</div>
	<div class="col-md-4 text-right">
		<span class="btn-group">
			<button class='btn btn-primary' ng-click='master.proceed()'>Proceed<span class="glyphicon glyphicon-chevron-right"></span></button>
		</span>
	</div>
</div>
</div>