<!DOCTYPE html>
<html lang="en" ng-app="pimport">
<head>

	<meta charset="utf-8">
	<title>iDai.journals - Mass Importer</title>
	<link href="favicon.ico" rel="Shortcut Icon">

	<link rel="stylesheet" href="idai-components/dist/css/idai-components.min.css">

	<link rel="stylesheet" href="style/style.css">

</head>
	
	<body ng-controller="main" data-ng-init="init()">
	
		<div id='loader' class='loader' ng-hide="isInitialized"></div>

       	<idai-navbar
       		hide-register-button="true" 
       		hide-contact-button="true"
       		hide-login-button="true"
       		hide-search-form="true"
			hide-language-switcher="true"
			project-id="publications"
			login-function=""
			logout-function=""
			user-object='{"username": false}'>

			<ul class="nav navbar-nav">
				<li><a ng-click="steps.change('home')">Start</a></li>
				<li><a ng-click="steps.change('overview')">Overview</a></li>
				<li><a ng-click="steps.change('articles')">Artikel</a></li>
				<li><a ng-click="steps.change('publish')">Publish</a></li>
			</ul>

		</idai-navbar>

		<div id='main-container' class="container-fluid">
			<ng-include src="'partials/infobox.html'"></ng-include>
			<ng-include src="steps.list[steps.current].template + cacheKiller"></ng-include>
		</div>

		<idai-footer institutions="{'dai': 'http://www.dainst.de/'}" mailto="philipp.franck@dainst.org"></idai-footer>
		
		<!-- load settings -->
		
		<script src="settings.php?js=1"></script>
		
		<!-- load angular, bootstrap, idai-components -->
		
		<script src="idai-components/node_modules/angular/angular.min.js"></script>
		<script src="idai-components/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script src="idai-components/dist/idai-components.min.js"></script>
		
		<!--  load 3party angular moduls -->
		
		<script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

		<!-- load pimport app -->

		<script src="js/services/journal.js"></script>
		<script src="js/services/messenger.js"></script>
		<script src="js/controllers/infobox.js"></script>
		<script src="js/services/protocolregistry.js"></script>
		<script src="js/services/webservice.js"></script>
		<script src="js/services/documentsource.js"></script>

		<script src="js/controllers/main.js"></script>
		<script src="js/controllers/view_overview.js"></script>
		<script src="js/controllers/view_articles.js"></script>
		<script src="js/controllers/view_finish.js"></script>
		<!--<script src="js/controllers/legacy/pdf.js"></script>
		<script src="js/controllers/legacy/nopdf.js"></script>-->
		<script src="js/controllers/upload.js"></script>
		<script src="js/directives/editable.js"></script>
		<script src="js/directives/multiselect.js"></script>

		<script src="js/services/editables.js"></script>

		<script src="js/services/settings.js"></script>

		<script src="js/app.js"></script>
		
		<!-- load import protocols -->
		
		<script src="js/protocols/generic.js"></script>
		<script src="js/protocols/testdata.js"></script>
		<script src="js/protocols/chiron_parted.js"></script>

		<!-- load require.js for non-angular modules -->
		
		<script src="inc/require.js"></script>
	
	</body>
</html>
