<div>
    <span class="input-group">
        <input
                type="text"
                class="form-control"
                placeholder="Search for..."
                ng-model="search.term"
                id="zenon-search"
        >
        <span class="input-group-btn">
            <button
                    class='btn btn-default'
                    ng-click='doSearch()'
                    id="zenon-submit"
                >Search<span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </span>

    <br>
    <div><span id="zenon-result-count">{{found}}</span> results</div>

    <div id="zenon-results" style="overflow-x:auto; padding-left: 1px;" ng-show="results.length">
        <table class="table select-table">
            <thead>
                <tr>
                    <td ng-repeat="(field, value) in displayRecord({})">{{field}}</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in results track by $index" ng-click='select($index)' ng-class="{'active': (selected == $index)}">
                    <td ng-repeat="(field, value) in displayRecord(doc)" >
                        <div class="table-cell-content" ng-style="estimateWidth(value)">{{value}}</div>
                    </td>
                    <td>
                        <span
                                class="btn btn-default btn-xs so-btn-open"
                                ng-click="lookUpInZenon(doc.id)"
                                title="See this Record in Zenon"
                            ><span class="glyphicon glyphicon-eye-open"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="text-align:center" ng-show="results.length">
        <span
                id="zenon-load-more"
                class='btn btn-default btn-xs'
                ng-click='doSearch(true)'
                title='more results'
                ng-show="found > page * 10">
            <span class='glyphicon glyphicon-plus-sign'></span>
        </span>
    </div>


</div>