@CHARSET "UTF-8";


/* -- */



h1 {
	font-size: x-large;
	font-weight: normal;
	margin-bottom: 1px
}

h2 {
	font-size: large;
	font-weight: normal;
	margin-bottom: 1px
}

/* tables */

table {
	margin: 0px;
	width: 100%;
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

table td {
	border-collapse: collapse;
	border: 1px solid silver;
	text-align: center;
	vertical-align: top;

}




/* tooltips */

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover:after { /**/
	padding: 0.3em;
	margin: 0em 0em 0em 0em;
	content: attr(data-tooltip);
	z-index: 10000;
	position: absolute;
	left: 25%;
	top: 90%;
	color: black;
	font-weight: normal;
	font-size: small;
	font-family: sans;
	
	background: white;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

/* author_box */
table.author_box {
	margin: 0px;
	padding: 0px;
	height: 100%
}

table.author_box .author_firstname,
table.author_box .author_lastname {
	width: 47% !important;
	text-align: center !important
}

table.author_box td {
	border: 0px !important;
}

/* xmlfield */
.CodeMirror {
	min-height: 20px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid silver;
	padding: 2px;
}



/* -- */

#main-container {
	padding: 80px 20px 10px 20px
}


#journal-table > tr > td {
	border: 1px solid silver
	
}

table table.editable-table > tbody > tr > td {
	border: none;
	padding: 0px 1px 1px 0px;
	padding-bottom: 1px;
}


	
table.editable-table > tbody > tr > td:last-child {
	width: 1em;
	vertical-align: middle;
	border: none;
	padding-left: 3px
}

input.editable,
textarea.editable,
table.editable-table input {
	width: 100%;
	border: none;
	background: #D9EDF7
}

textarea.editable {
	resize: none;
	height: 100%;
}

thead > tr > td,
tfoot > tr > td {
	border: none !important
}


table.journal-table td,
table.article-table td {
	padding: 0px !important
}

table.authorlist {
	margin: 0px
}

table.data-table {
	vertical-align: middle
}

table.data-table > tbody > tr > td:first-child {
	border: none;
	vertical-align: middle;
	text-align: left;
	padding-right: 1em;
	width: 10%;
}

table.data-table > tbody > tr > td:last-child {
	text-align: left
}

table.journal-table .alert,
table.split-table .alert,
table.article-table .alert {
	margin-bottom: 0.1em;
}

table.split-table > tbody > tr > td {
	height: 200px;
}

.thumbnail-container img,
table.split-table > tbody > tr > td .thumbnail-container img {
	width: 600px;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: -100px;
}

.thumbnail-container {
	height: 500px;
	overflow: hidden;
	margin-bottom: 0px;
}

table.split-table > tbody > tr > td .thumbnail-container {
	height: 200px;
	overflow: hidden;
	margin-bottom: 0px;
	cursor: pointer
}

table.split-table > tbody > tr > td .thumbnail-container.enlarged {
	height: 90%;
	width: auto;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 60px;
	position: fixed;
	right: 10px;
	top:0px;
	z-index: 2;
}
table.split-table > tbody > tr > td .thumbnail-container.enlarged img {
	margin-top: 0px;
}


table.split-table > tbody > tr > td .thumbnail-refresh {
	display: none
}

table.split-table > tbody > tr > td:hover .thumbnail-refresh {
	display: block;
	position: absolute;
	margin: 1px;
}


table.split-table > tbody > tr > td hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.alert {
   padding: 10px;
}

table .alert {
	padding: 0px;
	margin: 0px;
}

.select-table > tbody > tr > td {
	cursor: pointer
}

.xml-view {
	width:100%; 
	height: 100%; 
	border: 1px solid silver; 
	font-family:monospace; 
	font-size: 12px; 
	white-space: pre-wrap; 
	margin-top: 1em
}

/* hide login button in navbar */

[ng-click="loginFunction();"] {
	display:none
}

#password-box {
	background-clip: padding-box !important;
	background-color: #FFF !important;
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176) !important;
	font-size: 14px;
	
	padding: 1em;
	position: fixed;
	z-index: 5000;
	right: 0em;
	top: 50px;
}

.navbar-default {
    background-color: rgba(85, 114, 161, 1)  !important;
}
/* loader */

.loader {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/loading.gif');
}

#loader {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: white;
	z-index: 5000;
}

/* misc  */
.toprow {
	margin-bottom: 1em
}
