[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.3.0"
redis = "*"
pillow = "*"
PyPDF2 = "*"
pdftotext = "*"
Wand = "*"
pyocr = "*"
pymongo = "*"
pyyaml = "*"
argh = "*"
ocrmypdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
