[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
celery = "*"
redis = "*"
pillow = "*"
PyPDF2 = "*"
pdftotext = "*"
Wand = "*"
pyocr = "*"
pymongo = "*"
pyyaml = "*"
argh = "*"

[dev-packages]

[requires]
python_version = "3.6"
