[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
celery = "==4.2.1"
redis = "*"
flask = "*"
flask-cors = "*"
Flask-HTTPAuth = "*"
bcrypt = "*"
gunicorn = "*"
gevent = "*"
pymongo = "*"
jsonschema = "*"
requests = "*"
pyyaml = "*"
argh = "*"

[dev-packages]

[requires]
python_version = "3.6"
