[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
celery = "*"
redis = "*"
pymongo = "*"
jinja2 = "*"
lxml = "*"
beautifulsoup4 = "*"
pyyaml = "*"
argh = "*"
dkpro-cassis = "*"

[dev-packages]

[requires]
python_version = "3.6"
