<div ng-controller="viewHome">


<div class="row toprow">
    <div class="col-md-6">
        <h1 style="margin-top:0px">iDAI.workbench</h1>
    </div>

    <div class="col-md-6">

        <div class="btn-toolbar pull-right">
            <button class='btn btn-primary' ng-click='startBtn()'>Start Import<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Issue Metadata</div>
            <div class="panel-body">
                <main-object></main-object>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Importer Version {{settings.versionInfo.version}}</div>
            <div class="panel-body">
                <div ng-show="settings.testMode()" class="alert alert-warning">Using Test-Config</div>
                <div ng-show="settings.devMode()" class="alert alert-warning">In Dev-Mode (password provided)</div>
                <strong>Version History</strong>
                <ul style="max-height: 200px; overflow-y:auto">
                    <li ng-repeat="(version, features) in settings.versionInfo.history">
                        <strong>{{version}}</strong>
                        <ul>
                            <li ng-repeat="feature in features">{{feature}}</li>
                        </ul>
                    </li>
                </ul>
                <h4></h4>
            </div>
        </div>

    </div>

</div>

</div>