<div ng-controller="viewOverview" data-ng-init="init()">

<div class="row">
    <div class="col-md-4">
        <multiselect elements="overviewColumns">Display Columns</multiselect>
        <uib-dropdown class="btn-group">
            <button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button">Sort By<span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="sortField in dataset.getSortOptionsForSubObjects()">
                    <a href="#" ng-click="updateOrder(sortField, true)">{{labels.get("sub", sortField, false)}}</a>
                </li>
                <li ng-repeat="sortField in dataset.getSortOptionsForSubObjects()">
                    <a href="#" ng-click="updateOrder(sortField, false)">{{labels.get("sub", sortField, false)}} (descending)</a>
                </li>
            </ul>
        </uib-dropdown>
        <span class="btn-group">
            <button class='btn btn-default' ng-click='addArticle()'>Add Article<span class="glyphicon glyphicon-plus-sign"></span></button>
        </span>

    </div>
    <div class="col-md-4 text-center">
        <stats type="subobjects"></stats>
    </div>
    <div class="col-md-4 text-right">
        <button id="proceed" class='btn btn-primary' ng-click='continue()'>
            Proceed<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="overflow-x:scroll">

        <table class='split-table editable-table super-table'>
            <thead>
                <tr>
                    <td>Preview</td>
                    <td
                        ng-repeat="column in overviewColumns"
                        ng-show="column.checked"
                        ng-style="column.style"
                        title = "{{column.description}}"
                    >{{column.title}}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in dataset.subobjects | orderBy:'article.order.value.value'" ng-if="article._.confirmed !== false" ng-class="{'row-confirmed': article._.confirmed === true}" article="true" >
                    <td style="width:600px">

                        <div ng-show="!article.pages.check() && (article.filepath.value.value != 'none')">
                            <div class="thumbnail-refresh" ng-show="article.pages.check() == false">
                                <button class='btn btn-default' ng-click="article._.createThumbnail()">Reload thumbnail<span class="glyphicon glyphicon-refresh"></span></button>
                            </div>
                            <div id="thumbnail-container-{{article._.id}}" class="thumbnail-container" ng-class="{'enlarged': article._.id==selectedThumb}" ng-click="selectThumb(article._.id)">
                                <img ng-src="{{article._.getThumbnail()}}" />
                            </div>
                        </div>
                        <div ng-show="article.pages.check() || (article.filepath.value.value == 'none')">
                            <div class="alert alert-warning">You have to provide a pagenumber and a loaded file to get a preview.</div>
                        </div>
                    </td>
                    <td ng-repeat="(name, column) in overviewColumns" ng-show="column.checked">
                        <span editable item="article[name]"></span>
                    </td>
                    <td>
                        <span class="btn btn-default btn-xs so-btn-up" ng-show="$index>0" ng-click="moveArticle(article, true)" title="move above"><span class="glyphicon glyphicon-triangle-top"></span></span>
                        <span class="btn btn-default btn-xs so-btn-remove" ng-click="removeArticle(article)" title="delete article"><span class="glyphicon glyphicon-minus-sign"></span></span>
                        <span class="btn btn-default btn-xs so-btn-open" ng-click="openDocument(article)" title="open file externally"><span class="glyphicon glyphicon-eye-open"></span></span>
                        <span class="btn btn-xs so-btn-merge" ng-class="{'btn-default': (!selectedToMerge), 'btn-danger': (selectedToMerge)}" ng-click="mergeArticle(article)" title="merge articles"><span class="glyphicon glyphicon-compressed"></span></span>
                        <!-- <span class="btn btn-default btn-xs" ng-repeat="button in master.article_buttons" ng-click="button.function(article)" title="{{button.tooltip}}">{{button.caption}}<span class="glyphicon {{button.glyphicon}}"></span></span> -->
                        <span class="btn btn-default btn-xs so-btn-down" ng-show="$index<dataset.subobjects.length-1" ng-click="moveArticle(article, false)" title="move down"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</div>