<div ng-controller="viewFinish" data-ng-init="init()">

	<div class="row toprow" >
		<div class="col-md-8">
		</div>
		<div class="col-md-4 text-right">
			<span class="btn-group">
				<button ng-if="done" class='btn btn-success' ng-click='restart()'>Next Import<span class="glyphicon glyphicon-chevron-right"></span></button>
				<button ng-if="!done && isReady()" id="run-job" class='btn btn-primary' ng-click='run()'>Run Job<span class="glyphicon glyphicon-chevron-right"></span></button>
			</span>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-6">

			<div class="panel panel-default">
				<div class="panel-heading">dataset Metadata</div>

				<main-object></main-object>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="panel panel-default" ng-show="!done">
				<div class="panel-heading">Import into OJS</div>
				<div class="panel-body">
					<h2></h2>
					<p>Status:</p>
					<ul>
						<li>Journal metadata: <span ng-show="dataset.check()" class="badge badge-default alert-success">OK</span></li>
						<li>Articles ready to upload:
							<span class="badge badge-default alert-success">{{dataset.getStats().confirmed}}</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="panel panel-default" ng-show="reportedToZenon.length">
				<div class="panel-heading">Reports to zenon</div>
				<div class="panel-body">
					<p>The following aricles can be downloaded and reported to Zenon</p>
					<ul>
						<li ng-repeat="(id, article) in reportedToZenon track by $index">
							<a class="downloadLink" href='{{article._.zenonReport}}' target='_blank'>{{article.title.get()}}</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>


	<div class="row" ng-show="xml">
		<div class="col-lg-12">
			<div class="panel panel-default" >
				<div class="panel-heading">XML Preview</div>
				<div class="panel-body">
					<pre>{{xml}}</pre>
				</div>
			</div>
		</div>
	</div>

</div>
