<div ng-controller="wizardController">
    <ul class="breadcrumb">
        <li ng-repeat="(viewId, view) in steps.views" ng-show="view.showIf() || steps.current == viewId" id="step-{{viewId}}">
            <span class="active" ng-show="steps.current == viewId">{{view.title}}</span>
            <a ng-click="steps.changeView(viewId)" ng-show="steps.current != viewId">{{view.title}}</a>
        </li>
    </ul>
    <div id='main-container'>
        <ng-include src="steps.getTemplate()"></ng-include>
    </div>
    <div role="group" id="sidebar-tasks" ng-show="steps.getStatus()">
        <div class="btn-group-sm">
            <span id="main-collapse-button" type="button" class="task btn btn-secondary btn-xs" style="margin-bottom: -1px" ng-click="steps.collapseTabs()" ng-show="!steps.isCollapsed()">
                <span
                      class="glyphicon glyphicon-remove-circle">
                </span>
            </span>
            <span ng-repeat="(tabId, tab) in steps.tabs" id="main-sidebar-{{tabId}}" type="button" class="task btn btn-secondary btn-xs" ng-click="steps.changeTab(tabId)" ng-show="tab.showIf()">
                <b>{{tab.title}}</b>
            </span>
        </div>
    </div>
    <div resizable id="main-sidebar" r-directions="['left']" r-flex="true" ng-show="steps.getStatus() && !steps.isCollapsed()">
        <ng-include src="steps.getTab()"></ng-include>
    </div>
</div>
