[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.4.2"
redis = "==3.3.11"
jinja2 = "==2.11.3"
PyPDF2 = "==1.26.0"
pdftotext = "==2.1.2"
lxml = "==4.6.2"
Wand ="==0.5.7"
pymongo = "==3.9.0"
pyyaml = "==5.3.1"
mysql-connector = "==2.2.9"

requests = "==2.22.0"

[dev-packages]

[requires]
python_version = "3.6"
