[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
celery = {extras = ["redis"]}
jinja2 = "*"
PyPDF2 = "*"
pdftotext = "*"
lxml = "*"
Wand="*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
