[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.3.0"
redis = "*"
jinja2 = "*"
PyPDF2 = "*"
pdftotext = "*"
lxml = "*"
Wand ="*"
pymongo = "*"
pyyaml = "*"
mysql-connector = "*"

requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
