<div>
    <div ng-show="(warning = item.check()) && (warning !== false)" class='alert alert-warning'>{{warning}}</div>



    <div class='row'><div class='col-xs-12'><strong>Pages in PDF file</strong></div></div>

    <div class='row'>
        <div class='col-xs-5'>
            <input
                    type="number"
                    class='editable text-right'
                    ng-model='item.value.startPdf'
                    ng-change='item.observer ? item.observer(item) : ""'
                    min="1"
                    max="{{item.context.maximum > -1 ? item.context.maximum : 1000}}"
            />
        </div>
        <div class='col-xs-2 text-center'> - </div>
        <div class='col-xs-5'>
            <input
                    type="number"
                    class='editable text-left'
                    ng-model='item.value.endPdf'
                    ng-change='item.observer ? item.observer(item) : ""'
                    min="{{item.value.startPdf}}"
                    max="{{item.context.maximum > -1 ? item.context.maximum : 1000}}"
            />
        </div>
    </div>

    <div ng-show="item.context.offset !== 0">
        <div class='row'><div class='col-xs-12'><strong>Pages (as printed)</strong></div></div>
        <div class='row'>
            <div class='col-xs-5'>
                <input
                        type="number"
                        class='editable text-right'
                        ng-change='item.observer ? item.observer(item) : ""'
                        ng-model='item.startPrint'
                        min="1"
                />
            </div>
            <div class='col-xs-2 text-center'> - </div>
            <div class='col-xs-5'>
                <input
                        type="number"
                        class='editable text-left'
                        ng-model='item.endPrint'
                        ng-change='item.observer ? item.observer(item) : ""'
                        min="1"
                />
            </div>
        </div>
    </div>

    <div class='row'><div class='col-xs-12'><br><strong>Displayed in index:</strong></div></div>

    <div class='row'>
        <div class='col-xs-12'>
            <input class='editable  text-center' ng-model='item.desc' placeholder="{{item.value.showndesc}}" />
        </div>
    </div>

    <div>{{item.getDesc()}}</div>

</div>