<div>
    <div class="modal-header">
        <ul class="nav nav-pills">
            <li><div style="padding: 10px 15px 10px 0px; font-weight:bold">CSV Data Wizard</div></li>
            <li ng-class="{active:state.tab=='raw'}" ng-click="clickTab('raw')"><a href="#">Enter/Review CSV Data</a></li>
            <li ng-class="{active:state.tab=='csv', disabled:csv.length==0}" ng-click="clickTab('csv')"><a href="#">Assign Columns</a></li>
            <li class="btn btn-danger pull-right" type="button" ng-click="cancel()">Cancel</li>
        </ul>
    </div>
    <div class="modal-body" id="modal-body">

        <div ng-show="state.tab=='raw'">
            <label for="raw_csv">Raw CSV Data</label>
            <textarea id="raw_csv" class="form-control" ng-model="raw_csv" ng-change="guessDelimiter()"></textarea>
            <br>
            <form class="form-inline">
                <div class="form-group input-group-sm">
                    Cell Delimiter
                    <select id="csv-import-delimiter" class="form-control" ng-model="options.delimiter" ng-class="{'alert-warning': options.guessedDelimiter !== options.delimiter}">
                        <option ng-repeat="(key, val) in delimiters" value="{{val}}">{{key}}</option>
                    </select>
                </div>
            </form>
            <br>
            <div id="csv-delimiter-warning" class="alert alert-warning" ng-show="options.guessedDelimiter !== options.delimiter">
                It seems that the columns of your CSV Data is separated by <strong>{{options.guessedDelimiter}}</strong>,
                but you selected <strong>{{options.delimiter}}</strong>. Please make sure, that this is correct before continue.
            </div>

            <a ng-click="toggleParseOptions()" href="#" id="csv-more-options">More Options</a>
            <div ng-show="state.parseOptions">
                <form class="form-inline">
                    <div class="form-group input-group-sm">
                        Author Delimiter
                        <select class="form-control" ng-model="options.authorsDelimiter" id="csv-author-delimiter">
                            <option ng-repeat="(key, val) in delimiters" value="{{val}}">{{key}}</option>
                        </select>
                        Name Formats
                        <select class="form-control" ng-model="options.authorFormat" id="csv-author-format">
                            <option value="0">FirstName SecondName LastName</option>
                            <option value="1">LastName, FirstName SecondName</option>
                        </select>
                    </div>
                </form>
            </div>
            <br>
            <div style="text-align:right">
                <button class="btn btn-primary" ng-show="raw_csv!=''" ng-click="parse()">OK, take this data and assign columns</button>
            </div>
        </div>

        <div ng-show="state.tab=='csv'">

            <form>

                <div class="checkbox">
                    <label><input type="checkbox" ng-model="options.ignoreFirstRow">Ignore first Row</label>
                </div>
                <div class="checkbox" ng-show="hasZenonId()">
                    <label><input id="csv-autofetch" type="checkbox" ng-model="options.autoFetchFromZenon">Fetch data from Zenon automatically by this ID</label>
                </div>


                <div class="form-group">
                    Values
                    <table id="csv-import-table">
                        <thead>
                            <tr>
                                <td ng-repeat="col in csv[0] track by $index">
                                    <select class="form-control input-sm" ng-model="columns[$index].selected" ng-change="selectField(columns[$index].selected, $index)">
                                        <option ng-repeat="(normalized, field) in cols_types" value='{{normalized}}' >{{getLabel(field)}}</option>
                                        <option value='_dismiss'>==Dismiss==</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in csv track by $index" ng-hide="options.ignoreFirstRow && ($index == 0)">
                                <td ng-repeat="col in row track by $index">{{col}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </form>
            <div class="alert alert-warning" ng-show="state.unequalFieldsWarning" id="csv-deviant-columns-warning">Your detected Columns have unequal lengths.</div>
            <div style="text-align:right">
                <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
            </div>
        </div>
    </div>
</div>
