<ul class="tree-view">
    <li ng-repeat="branch in tree">
        <span ng-if="branch.type !== 'directory'">
            <button class="btn btn-default btn-block branch load" ng-class="getClass(branch)" ng-click="handleFile(branch)">{{branch.name}}</button>
        </span>
        <span class="btn-group" ng-if="branch.type === 'directory'">
            <button class="btn btn-default branch load" ng-class="getClass(branch)" ng-click="handleFile(branch)">{{branch.name}}</button>
            <button type="button" class="btn btn-default toggle" ng-click="toggle(branch.path)">
                <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen(branch.path), 'glyphicon-chevron-right': !isOpen(branch.path)}"></span>
            </button>
            <files-treeview tree="branch.contents" ng-show="isOpen(branch.path)"></files-treeview>
        </span>
    </li>
</ul>
