<div class="panel panel-default">
    <pre>{{search}}</pre>
    <div class="panel-heading" ng-show="!zenon.searchId">Search results in Zenon for Article Title "{{dataset.articles[currentArticle].title.get()}}"</div>
    <div class="panel-heading" ng-show="zenon.searchId">Search results in Zenon for ID "{{dataset.articles[currentArticle].zenonId.value.value}}"</div>

    <div class="panel-body">

        <p ng-if='(zenon.selected < 0) && (dataset.articles[currentArticle].zenonId != "(((new)))")' class='alert alert alert-warning'  data-tooltip="Click in the results table to select one. Change title and hit New Search if there are no results.">No corresponding entry in in Zenon selected!</p>

        <span class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Search for..."
                    ng-model="search.term"
            >
            <span class="input-group-btn">
                <button
                        class='btn btn-default'
                        ng-click='doSearch()'
                    >Search<span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </span>
        <span class="btn-group">
            <button
                    ng-if="zenon.selected > -1"
                    class='btn btn-default' ng-click='adoptFromZenon()'
                    data-tooltip="Continue with the data from Zenon instead of the one you got from the investigation of the table of contents"
                >Take Zenon Data<span class="glyphicon glyphicon-import"></span>
            </button>
            <button
                    ng-if="zenon.selected === -1"
                    ng-click='markAsMissingZenon()'
                    ng-class="['btn', 'btn-default', {'active': (dataset.articles[currentArticle].zenonId == '(((new)))')}]"
                >Mark as missing in Zenon <span class="glyphicon glyphicon-flag"></span>
            </button>
        </span>

        <hr>
        <div>{{results.length}} results</div>


        <div style="overflow-x:auto; padding-left: 1px;">
            <table class="table select-table">
                <thead>
                    <tr>
                        <td ng-repeat="(field, value) in displayRecord({})">{{field}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in results track by $index" ng-click='select($index)' ng-class="{'active': (selected == $index)}">
                        <td ng-repeat="(field, value) in displayRecord(doc)">{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align:center">
            <span class='btn btn-default btn-xs' ng-click='compareWithZenon(true)' data-tooltip='more results'>
                <span class='glyphicon glyphicon-plus-sign'></span>
            </span>
        </div>

    </div>
</div>